html
  head
    link(href="/css/main.css" rel="stylesheet")
    script(src="/js/jquery.min.js")
    script(src="/js/gyro.js")
    script(src="/socket.io/socket.io.js")
  body
    .container
      block content
